ul, #ActivityLog {
    list-style-type: none;
    font-family: monospace;
}

#ActivityLog {
    margin: 0;
    padding: 0;
}

.task {
    cursor: pointer;
    -webkit-user-select: none; /* Safari 3.1+ */
    -moz-user-select: none; /* Firefox 2+ */
    -ms-user-select: none; /* IE 10+ */
    user-select: none;
}

.task::before {
    /*content: "\25B6"; */
    content: "\25B6";
    color: black;
    display: inline-block;
    margin-right: 6px;
}

.task.failed::before {
    color: red;
}

.task.passed::before {
    color: green;
}

.task.running::before {
    color: black;
}

.task-open::before {
    -ms-transform: rotate(90deg); /* IE 9 */
    -webkit-transform: rotate(90deg); /* Safari */'
transform: rotate(90deg);
}

.nested {
    display: none;
}

.active {
    display: block;
}

.interaction::before {
    content: "\25B7";
    color: black;
    margin-right: 6px;
}

.interaction.failed::before {
    color: red;
}

.interaction.passed::before {
    color: green;
}

.interaction.running::before {
    color: black;
}

.logMessage.fail {
    color: red;
}

.activityName {
    color: #ff0bb1;
}